---
import Layout from '../layouts/Layout.astro';
import Contenu from '../sections/page-content.astro';
---

<Layout title="Magalie VILLORA Hypnose - Enfants et ados">
	<main>
        <section>
            <article>
                <h2>
                    Oups, une erreur est survenue. Veuillez réessayer plus tard
                </h2>
            </article>
        </section>
	</main>
</Layout>