---
import Layout from '../layouts/Layout.astro';
import Contenu from '../sections/page-content.astro';
---

<Layout title="Magalie VILLORA Hypnose - Alimentation">
	<main>
		<Contenu
            idImage="alim"
            h2Title="Alimentation et poids"
            article="<p>En même temps que nos <strong>sens</strong> sont constamment en <strong>éveil</strong> sur tout ce qui concerne les aliments, la <strong>nourriture</strong>, nous sommes assénés par les <strong>mots</strong> et les <strong>images</strong> comme « perte de poids, obésité, <strong>produits minceurs</strong>, cures minceurs, pilules minceurs… » qui inondent notre quotidien à travers les publicités télévisées, les magazines, les réseaux sociaux…</p><p>Tous les ingrédients pour ne pas se sentir bien dans sa peau !</p><p>Manger est un besoin physiologique fondamental. </p><p>Mais lorsque vous développez de <strong>mauvaises habitudes</strong> alimentaires ou lorsque votre corps subit des <strong>privations</strong> par différents régimes, votre cerveau enregistre des manques. Et votre inconscient qui veut votre bien va lui envoyer un message pour trouver des <strong>solutions</strong> qui vont ramener du <strong>plaisir</strong>. Et c’est à ce moment là que vous mangez une tablette de chocolat en une seule fois.  </p><p>Je vous propose un <strong>accompagnement personnalisé</strong> sur plusieurs séances, en moyenne 4 à 6, pour vous permettre d’évoluer selon votre rythme de <strong>façon durable</strong> et <strong>sans aucun régime</strong>. </p><p>Je travaille sur un niveau conscient où vous allez vous observer et pouvoir vous-même  adopter un rééquilibrage alimentaire puis à un niveau <strong>inconscient</strong> où nous allons travailler sur vos blocages, vos compulsions, l’image de votre corps…selon vos besoins et votre objectif. </p>"
        />
	</main>
</Layout>

<style lang="scss">
	
</style>
