---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Thematiques from '../sections/thematiques.astro';
import Quote from '../sections/quote.astro';
import Testimonials from '../sections/testimonials.astro';
import FAQ from '../sections/FAQ.astro';
import Presentation from '../sections/presentation.astro';
import Formulaire from '../sections/contact-form.astro';
import Pricing from '../sections/pricing.astro';
const POSTMAIL_TOKEN = import.meta.env.POSTMAIL_TOKEN;

---

<Layout title="Magalie VILLORA Hypnose">
	<Header/>
	<main>
		<Thematiques/>
		<Quote
		id="quote2"
		quote="Un coup de pouce est le bienvenu pour vous aider à vivre mieux !"
		/>
		<Testimonials/>
		<Presentation
			idName="pitch"
			idAnimation="animated1"
			h2Title="Bonjour et bienvenue !"
			h3Title="Je m’appelle Magalie et je suis praticienne en Hypnose certifiée."
			buttonText="Mieux me connaitre"
			buttonLink="./qui-suis-je"
		/>
		<Quote
			id="quote1"
			quote="Nous vivons tous des évènements qui nous impactent. <br/>En général, on s’adapte, on digère mais parfois ça coince…"
		/>
		<Presentation
			idName="vers-outil"
			idAnimation="animated2"
			h2Title="Il arrive un moment où agir devient une nécessité."
			h3Title="L'hypnose contribue à soulager, réduire et/ou améliorer ce qui coince."
			buttonText="En savoir plus"
			buttonLink='./mes-outils'
		/>
		<FAQ
			title="L'hypnose accessible pour tous"
		/>
		<Quote
			id="quote3"
			quote="Chacun a en lui tout le nécessaire pour trouver sa direction"
		/>
		<Pricing/>
		<Formulaire
			h4Title= "Une question, une demande de rendez-vous ? Contactez-moi, je vous répondrai rapidement.";
			h5Title= "N’hésitez pas à me joindre directement au 07.82.90.54.86";
			token= {POSTMAIL_TOKEN};
		/>
	</main>
</Layout>

<style lang="scss">
	
</style>
