---
import Layout from '../layouts/Layout.astro';
import Contenu from '../sections/page-content.astro';
---

<Layout title="Magalie VILLORA Hypnose - Phobies">
	<main>
		<Contenu
            idImage="phobies"
            h2Title="Phobies"
            article="<p>Il existe plusieurs types de phobies dont le point commun est une <strong>forte angoisse</strong> déclenchée par la présence d’une scène sans caractère objectivement dangereux. Une phobie est caractérisée par une <strong>peur irrationnelle</strong> d’une situation particulière, comme par exemple, la peur de prendre l’ascenseur ou encore, se retrouver face à une araignée...</p><p>Les personnes qui y sont confrontées ressentent une véritable angoisse et sont conscientes de leur peur qui bien souvent les empêche de réaliser certains projets. Elles vont tenter intellectuellement de se <strong>raisonner</strong> pour surmonter l’angoisse mais souvent <strong>en vain</strong> <i>« c’est plus fort que tout ».</i></p><p>Avec l’hypnose, vous allez pouvoir <strong>modifier vos perceptions</strong> face à la situation ou à l’objet phobique. Un potentiel jusque-là caché va générer de nouveaux comportements adaptés et vous <strong>libérer</strong> de ce qui vous fait si peur. </p>"
        />
	</main>
</Layout>

<style lang="scss">
	
</style>
