---
import Layout from '../layouts/Layout.astro';
import Contenu from '../sections/page-content.astro';
---

<Layout title="Magalie VILLORA Hypnose - Qui-suis-je ?">
	<main>
		<Contenu
            idImage="quisuisje"
            h2Title="Qui suis-je ?"
            article="<p>Je m’appelle <strong>Magalie</strong>, j’ai 41 ans, je vis en couple et je suis mère de deux enfants.</p><p>Le contexte dans lequel je suis née m’a amené à développer des qualités qui sont à mon sens essentielles au métier de thérapeute, comme par exemple, l’<strong>altruisme</strong>, l’<strong>empathie</strong> et une <strong>écoute bienveillante</strong>.</p><p>Très sensible à la souffrance d’autrui, c’est naturellement, que je me suis orientée vers des <strong>études de psychologie</strong> puis vers la profession d’<strong>assistante sociale</strong>.</p><p>Toujours dans un souci d’accompagner le mieux possible, j’ai continué à me former. J’ai obtenu en 2018 un <strong>Diplôme Universitaire de médiation et gestion des conflits</strong>, à cette occasion, j’ai découvert entre autres la <strong>communication non violente</strong> et ses effets sur la qualité des relations intra et interpersonnelles. Curieuse et intéressée, je me suis formée à ce processus. </p><p>A travers mon expérience, mes diverses formations et mon analyse sur les choses, je mesure  vraiment à quel point <strong>nos façons d’agir peuvent être impactées</strong> suivant l’<strong>angle de vue</strong> que nous portons sur les évènements. </p><p>Après avoir exercé pendant 17 ans le métier d’assistante sociale, j’ai eu besoin d’apporter un <strong>nouveau souffle</strong> à ma carrière en accompagnant les personnes différemment… avec une <strong>autre façon d’aider</strong> qui soit <strong>davantage centrée sur la personne</strong>, ses failles, ses forces et son histoire de vie.</p><p>J’avais besoin d’un <strong>outil concret</strong> qui redonne à la personne du pouvoir sur elle-même et lorsque cette dernière est prête et désireuse, l’aider à évoluer vers quelque chose de plus <strong>satisfaisant</strong>.</p><p>Je me suis formée en <strong>hypnose Ericksonienne</strong> et j’ai obtenu une certification de Praticienne en hypnose. Pour être efficace et au fait de nouvelles méthodes qui peuvent aider les gens à aller mieux, je continue à me former très régulièrement. </p><p><u>Mes formations</u> : <ul><li>Certification en hypnose Ericksonienne-Bordeaux (formation complémentaire dans l’accompagnement des enfants et des adolescents)</li><li>Formation en hypnose transgénérationnelle et régressive </li><li>Licence de psychologie-Toulouse</li><li>Diplôme d'Etat d’Assistant de Service Social-Toulouse</li><li>Diplôme Universitaire de médiation et gestion des conflits-Tours</li><li>Formation en Communication Non-Violente Cycle 1,2 et 3-Landes</li></ul></p>"
        />
	</main>
</Layout>

<style lang="scss">
	
</style>
