---
import Layout from '../layouts/Layout.astro';
import Contenu from '../sections/page-content.astro';
---

<Layout title="Magalie VILLORA Hypnose - Situation douloureuses">
	<main>
		<Contenu
            idImage="situations-douloureuses"
            h2Title="Situations douloureuses"
            article="<p>Des <strong>épreuves</strong>, des passages difficiles et douloureux, il arrive parfois de se sentir acculé comme <strong>face au mur</strong> et ne plus pouvoir avancer. </p><p>La <strong>souffrance</strong> est telle qu’elle peut impacter le sommeil, l’appétit, les humeurs et parfois même développer certaines douleurs. </p><p>La perte d’une personne, d’un travail ou d’une relation, des difficultés familiales, de couple ou professionnelles et la vie bascule. Il est difficile de <strong>passer le cap</strong> et le quotidien est de plus en plus compliqué.</p><p>En séances, l’état hypnotique va permettre de remettre du <strong>mouvement</strong> et un sentiment d’<strong>apaisement</strong> pourra s’ensuivre tant dans le corps que dans la tête. Alors, l’inconscient retraitera la situation et de <strong>nouvelles sensations et perceptions</strong> pourront émerger.</p>"
        />
	</main>
</Layout>

<style lang="scss">
	
</style>
