---
interface Props {
	link: string;
}

const { link } = Astro.props;
---
<a href={link}>
    <button class="btn" id="btn-fixed">
        Me contacter
    </button>
</a>

<style lang="scss">

    
</style>