---
interface Props {
	link: string;
}

const { link } = Astro.props;
---
<form action={link} method="get">
    <button class="btn" id="btn-fixed">
        Me contacter
    </button>
</form>

<style lang="scss">

    
</style>