---

---

<nav>
    <div class="box-sizer" id="nav-box-sizer">
        <div class="logo-container">
            <a href="./index.html">
                <img src="./ressources/images/4b6b07a8-483b-492a-a9db-633b0e4dbe6b.png" alt="le logo de Magalie Villora : spirale blanche sur fond vert">
                <img src="./ressources/images/deddd8d8-2425-4390-8afc-3123af025323.png" alt="le logo typographique de Magalie Villora hypnose">
            </a>
        </div>
        <div class="menu-container">
            <input type="checkbox" class="navigationCheckbox" id="navi">
            <label for="navi" class="navigationBtn">
                <span class="navigationIcon">&nbsp;</span>
            </label>
            <ul class="list-nav">
                <li class="non-deroulant"><a href="./qui-suis-je.html">Qui suis-je</a></li>
                <li class="" id="deroulant">Thématiques
                    <ul class="sous-menu" id="sous-menu">
                        <li class="sous-li"><a href="./ados-enfants.html">Enfants & ados</a></li>
                        <li class="sous-li"><a href="./alim.html">Alimentation et poids</a></li>
                        <li class="sous-li"><a href="./emotions.html">Face à vos émotions</a></li>
                        <li class="sous-li"><a href="./situations-douloureuses.html">Situations douloureuses</a></li>
                        <li class="sous-li"><a href="./phobies.html">Phobies</a></li>
                    </ul>
                </li>
                <li class="non-deroulant"><a href="./mes-outils.html">Hypnose et vous</a></li>
                <li class="non-deroulant"><a href="./index.html#pricing">Tarifs & Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<script>
    const deroulant = document.getElementById("deroulant");
    const sousmenu = document.getElementById("sous-menu");
    const boutonFermetureMenu = document.getElementById("navi");
    let classes = sousmenu.classList;

    deroulant.addEventListener("click", function () {
        sousmenu.classList.toggle("visible");
    });

    boutonFermetureMenu.addEventListener("click", function () {
        sousmenu.classList.remove("visible");
    })
</script>

<style lang="scss">
    nav {

        #nav-box-sizer {
            @media screen and (max-width: 65rem) {
                display:block;
            }
        }

        background-color: var(--nav-bg);
        height: 10rem;
        width: 100%;
        font-size: clamp(1rem, 1.6em, 2rem);
        font-weight: 700;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 1000;
        border-bottom: 1px solid var(--border-color);
        display:flex;
        justify-content: center;

        .logo-container {
            width:7.5rem;
            @media screen and (max-width: 65rem) {
                margin-left: 1rem;
                height:100%;
            }
        }

        img {
            height:40%;
            object-fit: contain;
            margin: 5% auto;
        }

        .menu-container {

            //width:100%;

            .list-nav {
                width: 100%;
                height: 100%;
                line-height: 10rem;
                text-align: center;
                text-transform: uppercase;
                color: var(--nav-font-color);
                
                @media screen and (max-width: 65rem) {
                    position: relative;
                    display: block;
                    top: -53.3rem;
                    left: 0;
                    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
                    height: 0;
                }

                li {
                    display: inline-block;
                    list-style-type: none;
                    transition: all 0.2s ease-in-out;
                    position: relative;
                    width: auto;
                    
                    &:not(#deroulant):hover {
                        cursor: pointer;
                        color: var(--p-spanned-color);
                    }
                    &#deroulant:hover {
                        cursor: pointer;
                    }

                    @media screen and (max-width: 65rem) {
                        line-height: 10rem;
                        display: block;
                        margin-left: -4rem;
                        background-color: var(--nav-bg);
                        
                        &:not(#deroulant):hover {
                            cursor: pointer;
                            //background-color: var(--caribbean-current);
                            background-color: var(--p-spanned-color);
                            color:#fff;
                            border-bottom: 0;
                        }
                        &#deroulant:hover {
                            cursor: pointer;
                            background-color: var(--p-spanned-color);
                        }
                    }
                    a {
                        padding: 2rem;
                    }
                    @media screen and (min-width: 65rem ){
                        &:last-of-type.non-deroulant > a {
                            padding-left: 0;
                        }
                    }
                }

                #deroulant {
                    @media screen and (max-width: 65rem) {
                        &:after {
                            content:"+";
                            position: absolute;
                            right: 2rem;
                        }
                    }

                    @media screen and (min-width: 65rem ){
                        &:hover {
                            .sous-menu{
                                display: flex;
                                flex-direction: column;
                            }
                        }
                    }
                }

                .sous-menu {
                    display: none;
                    position: absolute;
                    z-index: 1000;
                    background-color: var(--nav-bg);
                    //margin-left: 14rem;

                    &:hover {
                        display: flex;
                        flex-direction: column;
                    }
            
                    li{
                        width: 30rem;
                        text-align: left;
                        //margin-left: 10rem;
                        position: relative;
                        left:-4rem;
                        line-height: 7rem;
                        height: 7rem;

                        a {
                            padding: -2rem;
                        }
                    }
                }
            }
        }
        }

        #sous-menu.visible {
            @media screen and (max-width: 65rem) {
                display: block;
                position: static;
                margin: auto;
                background-color: var(--nav-bg);

                li {
                    //left: -4rem;
                    width:calc(100% + 4rem);
                    margin:0;
                    padding: 0;
                }
                &:after {
                    position: absolute;
                    content:"-";
                    top:0;
                    right:2rem;
                }
            }
        }
    .navigationCheckbox {
        display: none;
    }

    .navigationBtn {
        background-color: transparent;
        height: 7rem;
        width: 7rem;
        position: absolute;
        top: 3.4rem;
        right: 2.5rem;
        z-index: 100;
        text-align: center;
        cursor: pointer;
        display: none;

        @media screen and (max-width: 65rem) {
            display: block;
        }
    }

    .navigationIcon {
        position: relative;
        margin-top: 1.5rem;
        width: 5rem;
        height: 0.5rem;
        background-color: var(--nav-font-color);
        border-radius: 0.25rem;
        display: none;

        @media screen and (max-width: 65rem) {
            display: inline-block;
        }
    }

    .navigationIcon::before,
    .navigationIcon::after {
        width: 5rem;
        height: 0.5rem;
        border-radius: 0.25rem;
        background-color: var(--nav-font-color);
        display: inline-block;
        content: "";
        position: absolute;
        left: 0;
        transition: all 0.4s;
        display: none;

        @media screen and (max-width: 65rem) {
            display: block;
        }
    }

    .navigationIcon::before {
        top: -1.5rem;
        display: none;

        @media screen and (max-width: 65rem) {
            display: block;
        }
    }

    .navigationIcon::after {
        top: 1.5rem;
        display: none;

        @media screen and (max-width: 65rem) {
            display: block;
        }
    }

    .navigationCheckbox:checked~.list-nav {
        display: block;
        transform: translateY(53.0rem);

        @media screen and (min-width: 65rem) {
            transform: translateY(0rem);

        }
    }

    .navigationCheckbox:checked~.nav {
        opacity: 1;
        width: 100%;
    }

    .navigationCheckbox:checked+.navigationBtn .navigationIcon {
        background-color: transparent;
    }

    .navigationCheckbox:checked+.navigationBtn .navigationIcon::before {
        top: 0;
        transform: rotate(135deg);
    }

    .navigationCheckbox:checked+.navigationBtn .navigationIcon::after {
        top: 0;
        transform: rotate(-135deg);
    }
</style>