--- 
import Topbar from '../components/topbar.astro';
import Navbar from '../components/navbar.astro';
import Footer from '../components/footer.astro';
import Bottom_Button from '../components/bottom-button.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="msapplication-TileColor" content="#00aba9">
        <meta name="theme-color" content="#ffffff"/>
        <meta name="generator" content={Astro.generator} />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>{title}</title>
        <meta name="description" content="Je vous propose un accompagnement personnalisé en hypnose pour vous aider à vous sentir mieux et réaliser vos objectifs.">
        <meta property="og:title" content="Bienvenue/Magalie Villora Hypnose à Mont de Marsan">
        <meta property="og:type" content="website">
        <link rel="apple-touch-icon" sizes="180x180" href="/ressources/images/favicon_io/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/ressources/images/favicon_io/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/ressources/images/favicon_io/favicon-16x16.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <Topbar
            insta="https://www.instagram.com/magalypnose40/"
            facebook="https://www.facebook.com/profile.php?id=100079241703316"
            mail="magaly.pnose@gmail.com"
            phone="0782905486"    
        />
        <Navbar/>
        <slot />
        <Bottom_Button
            link="./index.html#contact"
        />
        <Footer/>
    </body>
</html>
<style lang="scss" is:global>
    @import "../scss/main";

    .section-container {
        width: min(108rem,100%);
        margin: 0 auto;
    }
</style>
